{{ "<!-- portfolio -->" | safeHTML }}
<div style="width: 100%"><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fspoonhead.music%2Fvideos%2F1856289367728559%2F&show_text=0&width=560" width="540" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></div>

<iframe style="border: 0; width: 400px; height: 274px;" src="https://bandcamp.com/EmbeddedPlayer/album=664083111/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="http://spoonhead.bandcamp.com/album/twisted-machines-sample-pack">Sample Pack (Twisted Machines) by Spoonhead</a></iframe>
<iframe style="border: 0; width: 400px; height: 274px;" src="https://bandcamp.com/EmbeddedPlayer/album=1992242188/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="http://spoonhead.bandcamp.com/album/tribal-dust-e-p">Tribal Dust E.P. by Spoonhead</a></iframe>
<iframe style="border: 0; width: 400px; height: 274px;" src="https://bandcamp.com/EmbeddedPlayer/album=629749870/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="https://spoonhead.bandcamp.com/album/an-uncommon-hybrid-e-p-remix-stems-weaponized-psy">An Uncommon Hybrid E.P. + Remix Stems (Weaponized Psy) by Spoonhead</a></iframe>
<iframe style="border: 0; width: 400px; height: 274px;" src="https://bandcamp.com/EmbeddedPlayer/album=2824623444/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="https://spoonhead.bandcamp.com/album/the-monster-inside-deep-chunky-progressive-psy">The Monster Inside (Deep Chunky Progressive Psy) by Spoonhead</a></iframe>
<section id="two">
	{{ with .Site.Params.portfolio.title }}<h2>{{ . | markdownify }}</h2>{{ end }}
	<br>
	<div class="row">
		{{ range .Site.Params.portfolio.gallery }}
		<article class="6u 12u$(xsmall) work-item">
			<a href="{{ $.Site.BaseURL }}images/{{ .image }}" class="image fit thumb"><img src="{{ $.Site.BaseURL }}images/{{ .thumb }}" alt="" /></a>
			<h3>{{ .title | markdownify }}</h3>
			<p>{{ .description | markdownify }}</p>
		</article>
		{{ end }}
	</div>
</section> 
