{{ "<!-- portfolio -->" | safeHTML }}
<iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=1669786846/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://weaponrecords.com/album/an-uncommon-hybrid">An Uncommon Hybrid by Spoonhead</a></iframe>
<section id="two">
	{{ with .Site.Params.portfolio.title }}<h2>{{ . | markdownify }}</h2>{{ end }}
	<br>
	<div class="row">
		{{ range .Site.Params.portfolio.gallery }}
		<article class="6u 12u$(xsmall) work-item">
			<a href="{{ $.Site.BaseURL }}images/{{ .image }}" class="image fit thumb"><img src="{{ $.Site.BaseURL }}images/{{ .thumb }}" alt="" /></a>
			<h3>{{ .title | markdownify }}</h3>
			<p>{{ .description | markdownify }}</p>
		</article>
		{{ end }}
	</div>
</section>
